@use "variables" as vars;

footer {
    text-align: center;
    padding: 14px;
    color: vars.$muted;
    margin-top: auto;

    a {
        color: vars.$accent;
        text-decoration: none;
    }
}
